html {
  scroll-behavior: smooth;
}
body {
  font-family: "Hiragino Sans", "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo, sans-serif;
  background-color: #fbfbfb;
  /* background-color: burlywood; */
}
/* ヘッダー */
#header {
  position: relative;
  height: 92px;
  background-color: #48b39d;
}
.title {
  height: 92px;
  line-height: 92px;
  position: absolute;
  left: 8%;
}
.title a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}
.title a:hover {
  text-decoration: underline;
}
.gnav {
  position: absolute;
  right: 8%;
}
.gnav-item {
  float: left;
  height: 92px;
  line-height: 92px;
}
.gnav-item a {
  display: block;
  margin: 0 4px;
  padding: 0 10px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}
.gnav-item a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.5s;
}
/* トップ画面 */
.main-area {
  position: relative;
  background-color: #42a994;
  height: 789px;
}
.main-text {
  width: 100%;
  position: absolute;
  top: 28%;
}
.site-title {
  text-align: center;
  padding-bottom: 24px;
  color: #fff;
  font-size: 48px;
  line-height: 70px;
}
.site-descripsiton {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 42%;
  color: #fff;
  font-size: 15px;
  line-height: 24px;
}
/* 記事ーー共通 */
.entry {
  background-color: #fff;
  border-bottom: solid 1px #d4d4d4;
  padding-bottom: 60px;
  margin: 50px 0;
}
.entry-flex {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2%;
  justify-content: center;
}
.entry-item {
  position: relative;
  width: 15%;
}
.entry-item a {
  text-decoration: none;
}
.entry-item a:hover {
  text-decoration: underline #47b39d;
}
.entry-item img {
  max-width: 100%;
}
.entry-title {
  padding: 30px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 24px;
  color: #241913;
  border-top: solid 1px #d4d4d4;
  border-bottom: solid 1px #d4d4d4;
}
.entry-item-category {
  display: inline-block;
  padding: 12px 24px;
  margin: 12px 0 20px;
  font-size: 12px;
  color: #fff;
  background-color: #48b39d;
}
.entry-item-title {
  font-size: 16px;
  color: #241913;
}

.entry-item-num {
  position: absolute;
  top: 0;
  opacity: 0.7;
  display: inline-block;
  padding: 16px 10px;
  font-size: 12px;
  color: #fff;
}
.entry-item-num span {
  font-size: 16px;
}
/* 背景色の個別設定 */
.num-1 {
  background-color: #d6b038;
}
.num-2 {
  background-color: #adadad;
}
.num-3 {
  background-color: #c47c42;
}
.num-45 {
  background-color: #4b4b4b;
}
/* 最近の記事 */
.entry-item-date {
  position: absolute;
  top: 0;
  opacity: 0.7;
  display: inline-block;
  padding: 10px 2px;
  font-size: 12px;
  color: #fff;
  background-color: #4b4b4b;
  text-align: center;
}
.entry-item-date span {
  font-size: 14px;
}
br {
  display: block;
  content: "";
  margin: 4px 0;
}
/* 特徴 */
/* 見出し */
.contents-item-title {
  padding: 24px 0 30px;
  background-color: #3b4552;
  position: relative;
  color: #fff;
  font-size: 28px;
  text-align: center;
}
.contents-item-logo {
  display: block;
  padding-bottom: 16px;
}
.contents-item-subtitle {
  display: block;
  font-size: 13px;
  padding-top: 12px;
}
/* 三角 */
.contents-item-title ::after {
  content: "";
  display: block;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -80px;
  width: 0;
  height: 0;
  border: 60px solid;
  border-color: transparent;
  border-top: 20px solid #3b4552;
}
/* コンテンツ */
/* flex設定 */
.feauture {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: solid 1px #d4d4d4;
}
.feauture img {
  width: 100%;
  height: 440px;
  object-fit: cover;
}
.flex-right {
  background-color: #fbfbfb;
}
.flex-right img {
  order: 1;
}
.flex-right .feauture-item {
  order: 2;
}
/* テキスト部分 */
.feauture-item {
  max-width: 60%;
  padding-left: 8%;
}
.feauture-item-title {
  font-size: 36px;
  color: #47b39d;
}
.feauture-item-num {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  background-color: #47b39d;
  padding: 46px 12px 12px;
  margin-bottom: 32px;
  margin-top: 0;
}
.feauture-item-subtitle {
  display: block;
  padding-top: 20px;
  font-size: 13px;
}
.feature-text {
  padding: 40px 0;
  width: 84%;
  font-size: 16px;
  line-height: 26px;
  color: #241913;
}
/* ボタン */
.feauture-item-button p {
  padding: 16px 60px;
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  text-shadow: 0 0 3px rgb(0 0 0 / 50%);
  background-color: #ff6c01;
  border-radius: 5px;
}
.feauture-item-button p:hover {
  opacity: 0.7;
  transition: 0.8s;
}
/* サービス紹介 */
.contents-flex {
  display: flex;
  justify-content: center;
}
.servise {
  flex-basis: 50%;
  background-color: #fff;
  border-right: solid 1px #d4d4d4;
}
.servise-title {
  padding-top: 100px;
  text-align: center;
  font-size: 40px;
  color: #47b39d;
}
.servise-subtitle {
  padding: 24px 0;
  display: block;
  font-size: 13px;
  color: #47b39d;
}
.servise-button p {
  padding: 20px 0;
  margin-left: 32%;
  margin-bottom: 100px;
  width: 36%;
  text-decoration: none;
  display: inline-block;
  text-shadow: 0 0 3px rgb(0 0 0 / 50%);
  background-color: #47b39d;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.servise-button p:hover {
  opacity: 0.7;
  transition: 0.8s;
}
/* 会社紹介 */
.company-container {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}
iframe {
  max-width: 40%;
}
.table {
  color: #241913;
  font-size: 16px;
  width: 56%;
  /* 全体に対しての余白 */
  padding: 94px 0px 94px 120px;
  line-height: 70px;
}
.teble-label {
  padding-left: 32px;
  margin-right: 32px;
  width: 140px;
  float: left;
}
.teble-value {
  border-bottom: 1px solid #e5e5e5;
}
.table dt:first-of-type {
  border-top: 1.5px solid #42a994;
}
.table dd:first-of-type {
  border-top: 1px solid #e5e5e5;
}

/* お問合せ */
form {
  background-color: #47b39d;
  padding: 100px 0 50px;
  text-align: center;
}
.form-label {
  font-size: 16px;
  color: #fff;
}
input {
  width: 40%;
  height: 40px;
  margin: 4px 0 24px;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
}
textarea {
  width: 40%;
  height: 240px;
  margin-top: 4px;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
}
.submit {
  margin-top: 20px;
  color: #fff;
  font-size: 1em;
  background-color: #131d2a;
  border: none;
  border-radius: 4px;
  width: 12%;
  height: 48px;
}
/* ページTOPに戻るボタン */
.pagetop {
  position: sticky;
  bottom: 20px;
  right: 40px;
  margin-top: -70px;
  float: right;
}
/* ボタンデザイン */
.pagetop a {
  display: block;
  font-size: 0;
  /* 大きさ→width,height,line-heightを統一 */
  width: 50px;
  height: 50px;
  text-align: center;
  background: #2525258e;
  border-radius: 50%;
  line-height: 50px;
}
.pagetop a i {
  font-size: 24px;
  color: #fff;
  line-height: 50px;
}
.pagetop-bg {
  background-color: #47b39d;
}
.pagetop.display {
  opacity: 0;
  transition: 0.2s;
}
/* フッター */
.footer {
  background-color: #021831;
  color: #fff;
  border-top: 10px solid #3b4552;
}
.site-name {
  font-size: 24px;
  padding-bottom: 40px;
  border-bottom: 1px solid #3b4552;
}
.footer-wrap {
  padding: 50px 8%;
}
.footer-flex {
  padding-top: 40px;
  display: flex;
  column-gap: 4%;
}
.footer-list {
  flex-basis: 14%;
}
.footer-list-label {
  font-size: 16px;
  padding-bottom: 8px;
}
.footer-list-value {
  font-size: 14px;
}
.footer-list-value a {
  color: #fff;
  text-decoration: none;
  line-height: 40px;
}
.footer-list-value a:hover {
  opacity: 0.8;
  transition: 0.2s;
}
/* コピーライト */
.copyright {
  background-color: #020a17;
  padding: 30px 0;
  text-align: center;
  font-size: 12px;
}
